body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f8;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkStyles {
  border-bottom: 1px solid #faf9f8;
  text-decoration: none;
  cursor: pointer;
}

.linkStyles:visited {
  color: black;
}

.linkStyles:hover {
  text-decoration: underline;
}

@import 'bootstrap-icons/font/bootstrap-icons.css';
