@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'bootstrap/dist/css/bootstrap.min.css';

/* @import banner from './images/banner.jpeg'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f8;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.linkStyles {
  border-bottom: 1px solid #faf9f8;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.linkStyles:visited {
  color: black;
}

.linkStyles:hover {
  text-decoration: underline;
}

.errorMessage {
  margin: 0;
  font-size: 0.6em;
}

.errorMessage::before {
  display: inline;
  content: '⚠ ';
}

.slider {
  position: relative;
}

.slider-item {
  position: absolute;
  visibility: hidden;
  background: #fcf2df;
  width: 200px;
  height: 100px;
  font-size: 26px;
  font-weight: bold;
  user-select: none;
}

.slider-item.visible {
  visibility: visible;
}

.c-poiner {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.flex-wrap-w {
  flex-wrap: wrap;
}

.d-inline-block {
  display: inline-block;
}

.font-weight-bold {
  font-weight: bold;
}

.no-margin {
  margin: 0;
}

.justify-content-space-between {
  justify-content: space-between;
}

.size-error-message {
  position: fixed;
  z-index: 99;
  width: 200px;
  height: 25px;
  padding-top: 4px;
  border-radius: 8px;
  opacity: 0.75;
  font-size: 0.9em;
  color: #faf9f8;
  background-color: black;
}

.searchinput:focus {
  outline: none;
}

.fs-sm {
  font-size: 0.7rem;
}

.fs-md {
  font-size: 0.8rem;
}

.sign-in-banner {
  height: 150px;
  margin-bottom: 10px;
  background: #f7efe7;
  text-align: center;
}

.red {
  color: red;
}

.navigation-banner {
  height: 200px;
}

.footer-bg-color {
  background-color: #eae9e8;
}
